.catalogpage__productssection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  max-width: 1100px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

.content__wrapper {
}

.catalogpage__paginatorsection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 200px;
}

.catalogpage__createproduct {
  padding: 20px;

}

.productrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  gap: 20px;

  + .productrow {
    border-top: 1px solid var(--separator-color);
    padding-top: 60px;
    margin-top: 60px;
  }
}
