.catalog {
  background-position: 50% 50%;
  background-size: cover;
  max-width:95vw;
  width: 95vw;
  max-height: 95vw;
  height: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;
  color: var(--category-color);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  scale: 1;
  transition: scale 0.1s ease-in-out;
  position: relative;

  &:hover {
    scale: 1.04;
  }
}

.cataloglist {
  -webkit-tap-highlight-color: transparent;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--catalog-gap);
}
