.secondarycatalog {
  border: 1px solid var(--secondary-catalog-border);
  flex-grow: 1;
  padding: 17px 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--secondary-catalog-background-color);
  color: var(--secondary-catalog-color);
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out, background-color 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 700;
  top: 0;
  left: 0;
  -webkit-tap-highlight-color: transparent;

  @media (hover: hover) {
    &:hover {
      left: 6px;
      top: 6px;
      background-color: var(--secondary-catalog-background-color-hover);
      color: var(--secondary-catalog-color-hover);

      .secondarycatalog__shadow {
        display: none;
      }
    }
  }
}
.secondarycatalog__shadow {
  flex-grow: 1;
  width: 100%;
  border: 1px solid var(--secondary-catalog-border);
  padding: 17px 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 6px;
  top: 6px;
  z-index: -1;
}
